## Zadanie 1: 
Stwórz dataframe z dzięsięcioma imionami uczniów i uczennic oraz liczbą punktów, jakie uzyskali z egzaminu. Następnie sprawdź, jaka była średnia i mediana wyników.

In [1]:
import pandas as pd
import numpy as np

###Lista uczniów z wynikami

In [62]:
student_list = pd.DataFrame([['Karolina', 42], 
                             ['Marcin', 48], 
                             ['Krzystof', 25], 
                             ['Aleksandra', 11], 
                             ['Sebastian', 15], 
                             ['Katarzyna', 16], 
                             ['Roman', 41], 
                             ['Marek', 37], 
                             ['Adam', 26], 
                             ['Zenon', 25]],
                            columns=('Name', 'Points'))
student_list

         Name  Points
0    Karolina      42
1      Marcin      48
2    Krzystof      25
3  Aleksandra      11
4   Sebastian      15
5   Katarzyna      16
6       Roman      41
7       Marek      37
8        Adam      26
9       Zenon      25

###Średnia

In [63]:
from numpy.ma.core import mean
mean = pd.DataFrame.mean(student_list, numeric_only=True)
mean

Points    28.6
dtype: float64

###Mediana

In [64]:
pd.DataFrame.median(student_list, numeric_only=True)

Points    25.5
dtype: float64

##Zadanie 2:
Bazując na ramce danych utworzonej w poprzednim zadaniu, wyświetl
czwarty wiersz. Następnie zapisz do osobnej ramki tych uczniów, którzy
uzyskali wynik powyżej średniej.

###Czwarty wiersz

In [65]:
student_list.iloc[[3]]

         Name  Points
3  Aleksandra      11

###uczniowie powyżej średniej

In [66]:
wzorowi = student_list[student_list['Points'] > int(mean)]
wzorowi

       Name  Points
0  Karolina      42
1    Marcin      48
6     Roman      41
7     Marek      37

##Zadanie 3:
Dodaj do ramki trzecią kolumnę, w której znajdzie się procentowy wynik
uczniów i uczennic z tego egzaminu (to znaczy, że każda wartość liczbowa musi
zostać podzielona przez maksimum punktów, jakie można było na tym
egzaminie uzyskać).
Następnie, chcemy zanonimizować kolumnę z imionami: chcemy, by została
tylko pierwsza i ostatnia litera imienia. Np. dla imienia “Marcelina” chcemy
zachować “M...a”

###Procentowy wynik

In [67]:
percent = student_list['Points'].apply(lambda x: x / 50 * 100)
student_list['%'] = percent
student_list

         Name  Points     %
0    Karolina      42  84.0
1      Marcin      48  96.0
2    Krzystof      25  50.0
3  Aleksandra      11  22.0
4   Sebastian      15  30.0
5   Katarzyna      16  32.0
6       Roman      41  82.0
7       Marek      37  74.0
8        Adam      26  52.0
9       Zenon      25  50.0

###ukrycie imion

In [68]:
hiden = []
for x in student_list['Name']:
  hiden.append(f'{x[0]}.....{x[-1]}')

hiden

['K.....a',
 'M.....n',
 'K.....f',
 'A.....a',
 'S.....n',
 'K.....a',
 'R.....n',
 'M.....k',
 'A.....m',
 'Z.....n']

In [69]:
student_list['Name'] = hiden
student_list

      Name  Points     %
0  K.....a      42  84.0
1  M.....n      48  96.0
2  K.....f      25  50.0
3  A.....a      11  22.0
4  S.....n      15  30.0
5  K.....a      16  32.0
6  R.....n      41  82.0
7  M.....k      37  74.0
8  A.....m      26  52.0
9  Z.....n      25  50.0

##Zadanie 4:
Posortuj ramkę danych względem liczby punktów otrzymanych z
egzaminu, od najwyższego do najniższego. W przypadku takiej samej
liczby punktów, osoby mają zostać wyświetlone w kolejności
alfabetycznej.

In [75]:
student_list.sort_values(by=['Points','Name'], ignore_index=True, ascending=[False, True])

      Name  Points     %
0  M.....n      48  96.0
1  K.....a      42  84.0
2  R.....n      41  82.0
3  M.....k      37  74.0
4  A.....m      26  52.0
5  K.....f      25  50.0
6  Z.....n      25  50.0
7  K.....a      16  32.0
8  S.....n      15  30.0
9  A.....a      11  22.0

fatal: not a git repository (or any of the parent directories): .git